* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


/* WELCOME LOGIN */

#inputPassword {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* WELCOME LOGIN */


/* SIDEBAR */

#sidebarMenu .nav-item {
    font-weight: 600;
    vertical-align: baseline;
}

#sidebarMenu {
    min-height: 95vh;
    overflow: hidden;
}


/* SIDEBAR */

.sidenav-header {
    height: 20vh !important;
}

#sidenav-main>div>div.sidenav-header.align-items-center>a>img {
    max-height: 30vh;
}

.img-container {
    height: 100px;
    width: 100px;
}

#myDropDown {
    max-height: 25vh;
    overflow: auto;
}